@{
}

<div>
    <h1>Member Home</h1>
    <p>Welcome to the Member Home page.</p>
    <p>Here you can view your tasks and their statuses.</p>
    <p>Use the navigation bar to access other features.</p>


    <p>
        member - home -index
    </p>
</div>
