<h3 class="login-heading mb-4">
    Forgot Password
</h3>
<form>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="username">
        <label for="floatingInput">
            Username
        </label>
    </div>
    <div class="d-grid">
        <button class="btn btn-warning btn-login text-uppercase fw-bold mb-2" type="submit">
            <i class="fa-solid fa-head-side-virus"></i>
            Forgot Password
        </button>
        <div class="text-center">
            <button class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </button>
        </div>
    </div>
</form>