@model RegisterRequest
@{
    ViewData["Title"] = "Register";
}
<h3 class="login-heading mb-4">
    Register
</h3>
<form asp-area="" asp-controller="Account" asp-action="Register" method="post">
    <div class="mb-3 text-danger" asp-validation-summary="All"></div>
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="Username">
        <label asp-for="Username">
            Username
        </label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="Name">
        <label asp-for="Name">
            Name
        </label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="Surname">
        <label asp-for="Surname">
            Surname
        </label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" asp-for="Password">
        <label asp-for="Password">
            Password
        </label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" asp-for="RePassword">
        <label asp-for="RePassword">
            rePassword
        </label>
    </div>
    <div class="d-grid">
        <button class="btn btn-lg btn-info btn-login text-uppercase fw-bold mb-2" type="submit">
            Register
        </button>
        <div class="text-center">
            <a asp-area="" asp-controller="Account" asp-action="Login">
                Login
            </a>
        </div>
    </div>
</form>